/* Source : https://randomuser.me/ */

#user_title {
    color: #999;
    font-size: 18px;
    margin: 0;
}

.user_info {
    color: #2c2e31;
    font-size: 38px;
    margin: 5px;
}

.liste_bouton {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

.liste_bouton li {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 48px;
    float: left;
    margin: 20px;
    background-image: url(../img/card_icons.png);
    background-size: 378px;
    background-position-y: -48px;
    transition: all .25s ease-out;
  }

.liste_bouton li:before {
content:attr(data-label);
opacity:0
}
.liste_bouton li.active[data-label=name] {
background-position:0 -96px
}
.liste_bouton li.active[data-label=email] {
background-position:-68px -96px
}
.liste_bouton li.active[data-label=birthday] {
background-position:-135px -96px
}
.liste_bouton li.active[data-label=location] {
background-position:-203px -96px
}
.liste_bouton li.active[data-label=phone] {
background-position:-270px -96px
}
.liste_bouton li.active[data-label=pass] {
background-position:-338px -96px
}
.liste_bouton li[data-label=name] {
background-position:0 -48px
}
.liste_bouton li[data-label=email] {
background-position:-68px -48px
}
.liste_bouton li[data-label=birthday] {
background-position:-135px -48px
}
.liste_bouton li[data-label=location] {
background-position:-203px -48px
}
.liste_bouton li[data-label=phone] {
background-position:-270px -48px
}
.liste_bouton li[data-label=pass] {
background-position:-338px -48px
}